@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #fbfbfb;
}

* {
  font-family: "Amarante", cursive;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-button-prev {
  color: #fbfbfb !important;
}

.swiper-button-next {
  color: #fbfbfb !important;
}
